<!DOCTYPE html>
<html>
  <head>
    <title>PixelQ Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation Bar -->

      <nav class="navbar navbar-light bg-faded"> 

      <%= link_to "PixelQ", root_path, class: "navbar-brand" %>
  
          <ul class="nav justify-content-end">
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
          
      
      <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Log Out",  signout_path, method: :delete, class: "nav-link btn btn-success" %></li>
      <% else %>
          <li class="nav-item"><%= link_to "Sign In",   signin_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign Up",signup_path, class: "nav-link btn btn-primary" %></li>
          

      </nav>

      <% end %>


        </ul>
      </div>
    </nav>

    <!--Flash Message -->
<% flash.each do |name, message| %>

<%= content_tag(:div, message, class: "alert alert-info #{name}") %>

<% end %>

    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2016 One Month</p>
        </center>
      </div>
    </footer>

  </body>
</html>
